@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
html,
body {
  max-width: 100%;
  max-height: 100%;
  /* box-sizing: border-box; */
  background: #1d2327;
}

.lumanari {
  width: 350px !important;
  position: relative;
  display: flex;
  transform: translateX(-50%);
  left: 49%;
}
#cake {
  display: flex;
  position: relative;
  margin: -10em auto 0 auto;
  justify-content: center;
}

/*============================================== Candle */
.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 37%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}
.velas_2 {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 42%;
  margin-left: -2.2px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas_2:after,
.velas_2:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas_2:after {
  top: 25%;
  left: 0;
}
.velas_2:before {
  top: 45%;
  left: 0;
}
.velas_3 {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 47%;
  margin-left: -2.2px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas_3:after,
.velas_3:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas_3:after {
  top: 25%;
  left: 0;
}
.velas_3:before {
  top: 45%;
  left: 0;
}
.velas_4 {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 52%;
  margin-left: -2.2px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas_4:after,
.velas_4:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas_4:after {
  top: 25%;
  left: 0;
}
.velas_4:before {
  top: 45%;
  left: 0;
}
.velas_5 {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 57%;
  margin-left: -2.2px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas_5:after,
.velas_5:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas_5:after {
  top: 25%;
  left: 0;
}
.velas_5:before {
  top: 45%;
  left: 0;
}
.velas_6 {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 62%;
  margin-left: -2.2px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas_6:after,
.velas_6:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas_6:after {
  top: 25%;
  left: 0;
}
.velas_6:before {
  top: 45%;
  left: 0;
}
.velas_7 {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 67%;
  margin-left: -2.2px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas_7:after,
.velas_7:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas_7:after {
  top: 25%;
  left: 0;
}
.velas_7:before {
  top: 45%;
  left: 0;
}
/* ============================================== Fire */
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
} /*
============================================== Animation Fire */
@keyframes fuego {
  0%,
  100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes in {
  to {
    transform: translateY(0);
  }
}
.text {
  color: #8b6a60;
  font-family: "Kaushan Script", "Sail", cursive;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-size: 1.4em;
}
