@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

body {
  font-family: "Wendy One", sans-serif;
  background-color: #d44;
  max-width: 200px;
  max-height: 500px;
}

.gift {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate3d(-50%, -50%, 0);
  animation: dukdik 0.5s infinite;
}
@keyframes dukdik {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  25% {
    transform: rotate(1deg) translate(-50%, -50%);
  }
  50% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  70% {
    transform: rotate(-1deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
}

.gift-top {
  position: relative;
  width: 110%;
  height: 20%;
  background: #34495e;
  border-radius: 5px 5px 0 0;
  transform: translate3d(-5%, 0, 0);
  box-shadow: inset -1px 10px #888888;
}

.gift-top::before,
.gift-top::after {
  content: "";
  width: 45px;
  height: 45px;
  border: 25px solid #fdc56d;
  border-radius: 50% 50% 0 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-100%, -100%, 0) skew(10deg, 10deg);
}

.gift-top::after {
  border-radius: 50% 50% 50% 0;
  transform: translate3d(0, -100%, 0) skew(-10deg, -10deg);
}

.gift-box {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  bottom: 40px;
  z-index: 10;
  background: #34495e;
  border-radius: 0 0 5px 5px;
}

.myButton {
  position: absolute;
  color: #fff;
  width: 100%;
  content: "Click Me!";
  left: 0;
  bottom: 0;
  font-size: 50px;
  text-align: center;
  transform: rotate(-20deg);
  transform-origin: 0 0;
  cursor: pointer;
  font-family: "Kaushan Script", "Sail", cursive;
  background-color: transparent;
  border: none;
}
.box {
  width: 55px;
  height: 100%;
  background: #fdc56d;
  position: relative;
  left: 43%;
}

.gift-box > .box {
  width: 43px;
  height: 100%;
  background: #fdc56d;
  position: relative;
  left: 44%;
}
.box:after {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
}
